*{
  font-family:  "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background: url(images/background.jpg) 100% 100% fixed no-repeat;
  background-size: cover;
  display: flex;
}

nav{
  height: 100%;
  max-width: 45%;
  width: 35rem;
  background-image: linear-gradient(to bottom, #2563EB, #A21CAF);
  padding: 3rem 1rem;
}

nav div{
  display: block;
}

.heading{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 8rem;
}

.heading img{
  width: 4rem;
}

.menu-item{
  background-color: rgba(255, 255, 255, 0.15);
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem 6rem;
  color: white;
  font-weight: bold;
  align-items: center;
  font-size: 2rem;
  border-radius: 4rem;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.15);
}

.menu-item img{
  width: 3rem;
}

.current{
  background-image: linear-gradient(to right, #2752DF, #152D79);
}

main{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.menu{
  background-color: white;
  width: 100%;
}

.upper-menu{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar{
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: #E8E8E8;
  height: 3rem;
  flex: 1;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  color: #838383;
}

.search-bar img{
  height: 2rem;
  margin: 0 1rem;
}

.right-section{
  display: flex;
  justify-content: space-around;
  margin-left: 2rem;
  margin-top: 1rem;
}

.right-section img {
  height: 3rem;
  margin-left: 2rem;
}

.right-section div{
  font-size: 2rem;
  font-weight: bold;
  margin: 0 2rem;
}

.menu>p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 3rem 0 0 7rem;
}

.bottom-menu{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.bottom-menu img{
  height: 3rem;
  margin-right: 1rem;
}

.user{
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 8rem;
}

.buttons{
  margin-right: 4rem;
}

.buttons button{
  color: white;
  font-weight: bold;
  background-color: #2752DF;
  padding: 0.5rem 2.5rem;
  margin-left: 1rem;
  border-radius: 4rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.main-content{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.main-content p{
  margin-left: 5rem;
  margin-top: 1rem;
  font-size: 3rem;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.projects{
  padding: 0 5rem;
  margin-top: 0.5rem;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, 3git 0rem);
  grid-auto-rows: 24rem;
  justify-content: center;
  column-gap: 5rem;
  row-gap: 2rem;
}

.project{
  background-color: white;
  border-radius: 5rem;
}

.project>img{
  width: 30rem;
  height: 17.5rem;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
}

.info{
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}

.view img{
  height: 2rem;
  margin-left: 1rem;
  transition: all 0.12s;
}

.view img:hover{
  transform: scale(110%);
}

